.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.currTurnText {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);
  gap: 0.3rem;
  justify-content: center;
}

.replayButton {
  margin-top: 1rem;
  font-size: 1rem;
  background-color: turquoise;
  border: none;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}

.replayButton:hover {
  background-color: darkturquoise;
}

.replayButton:active {
  background-color: deepskyblue;
}

.winnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}
